/* .wrapper {
    width: 450px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
} */

.wrapper .input-data {
    height: 40px;
    width: 100%;
    position: relative;
}

.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid #FFE9BA;
}

.wrapper .input-data input:focus ~ label,
.wrapper .input-data input:valid ~ label {
    transform: translateY(-20px);
    font-size: 15px;
    color: #F58989;
}

.wrapper .input-data input:focus {
    outline: none;
}

.wrapper .input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.input-data .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #F58989 ;
    transform: scaleX(0);
}

.wrapper .input-data input:focus ~ .underline:before,
.wrapper .input-data input:valid ~ .underline:before {
    transform: scaleX(1);
    transition: transform 0.3s ease;
}

.wrapper .input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}

.mb-20 {
    margin-bottom: 20px;
}

/* Estilo para el listado de Partidas */
.titulo-vista {
    position: absolute;
    left: -40px;
    top: 0px;

    width: max-content;
    transform: rotate(-90deg) translate(-150%, -97%);
    transform-origin: left top;
    white-space: nowrap;

    color: rgb(28, 29, 42);
    font-size: 0.8rem;
    letter-spacing: 0.25em;
    font-weight: bold;
    text-transform: uppercase;
}

.titulo-vista::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1.4em;
    height: 1px;
    margin-left: 0.5em;
    background-color: currentcolor;
}

.bloque-partida {
    min-height: 150px;
    background-color: cadetblue;

    display: flex;
    flex-wrap: wrap;
}

.b-titulo {
    width: 40%;
    background-color: red;
}

.b-info {
    width: 35%;
    background-color: green;
}

/* Bloque Jugar */
.b-jugar {
    width: 25%;
    position: relative;

    display: flex;
    flex-wrap: wrap;
}

.j-imagen {
    width: 75%;
    background-color: burlywood;
}

.j-btn {
    width: 25%;
    height: inherit;
    background-color: #3cb754;

    cursor: pointer;
    transition: all 0.25s ease-out;

    position: absolute;
    right: 0px;
    top: 0px;
    height: 150px;
}

.j-btn img {
    margin-top: 30px;
    max-height: 50px;
    transform: translateY(20px);
    width: 100%;
    transition: all 0.25s ease-out;

}

.j-texto {
    margin-top: 10px;
    text-align: center;
    opacity: 0;
    transition: all 0.25s ease-out;
}

.j-btn:hover > .j-texto {
    opacity: 1;
}

.j-btn:hover > img {
    transform: translateY(0px);
}

.j-btn:hover {
    width: 100%;
}


/* Partidas inicio */

.vertical-center {
    display: flex;

    align-items: center;
    justify-content: center;

    min-height: 100%;
    min-height: calc(100vh - 210px);
    width: 50%;
}

.inicio-accion {
    height: max-content;
    width: 100%;
    position: relative;

    cursor: pointer;
}

.inicio-label {
    color:#f05a70;
    font-size: 40px;
    position: absolute;

    transition: all 0.5s;
}

.inicio-imagenes {
    position: relative;

    height: 490px;
    overflow: hidden;
}

.img-cuadro {
    position: absolute;
    bottom: 0px;
    z-index: 1;

    display:block;
    
    -webkit-filter: grayscale(1);

    transition: all 0.5s;
}

.img-artista {
    position: absolute;
    bottom: 0px;
    z-index: 1;
    transform: translateY(-490px);
    opacity: 0;

    -webkit-filter: grayscale(1);

    -webkit-transition: all 0.7s cubic-bezier(0.60, 0.30, 0.35, 0.60);
    transition: all 0.7s cubic-bezier(0.60, 0.30, 0.35, 0.60);
}

.inicio-accion:hover img {
    -webkit-filter: grayscale(0) !important;
}

.inicio-accion:hover .inicio-label {
    -webkit-filter: grayscale(1);
}

.inicio-accion:hover .img-artista {
    transform: translateY(0px);
    opacity: 1;
}

@media (max-width: 1199px) {
    .vertical-center {
        width: 100%;
    }
}

/* CREAR PARTIDAS */

.btn-plus {
    width: 30px;
    border-radius: 100px;
    background-color: #f4899c;
    cursor: pointer;
    position: absolute;
}

.spam-amigos {
    padding: 2%;
    width: 2%;
    text-align: end;
    margin-left: 3%;
    color: #dfdbdb;
    background-color: #f4899c;
    border-radius: 100px;
}
.btn-plus:hover {
    /* background-color: #ffffff; */
    -moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
    transform: rotate(360deg);

	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	-ms-transition: all 0.4s;
	transition: all 0.4s;
}

/* SELECCIONAR AMIGOS */

.avatar-select {
    height: 80px;
    width: 80px;
}

.border-select {
    border-bottom: solid #d8d5d5 3px;
    margin: 1%;
    padding: 1%;
}

.input-buscar {
    padding: 1%;
    margin: 0% 2% 2% 2%;
}

.btn-mandar{
    border-radius: 20%;
}

.badge-crear {
    align-self: end;
    margin-top: 5%;
    left: 5%;
}

.bloque-invitaciones {
    border: 1px #bbbbbb solid;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
}

.checkmark-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .checkmark-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
  }
  
  .checkmark-container:hover input ~ .checkmark {
    background-color: #ffedbc;
  }
  
  .checkmark-container input:checked ~ .checkmark {
    background-color: #f4899c;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkmark-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkmark-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .t-240 {
    top:240px !important;
  }

 