.avatar-3 {
    height: 100px;
    width: 100px;
}

.bloque-amigo {
    border: 1px #bbbbbb solid;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
}

@media (max-width: 991px) {
    .avatar-3 {
        float: unset;
        margin: auto;
    }

    .bloque-amigo h5, p {
        text-align: center;
    }
}

.btn-solucitud {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-rechazar {
    /* width: 100%; */
    /* background-color: #f05a70; */
}

.btn-aceptar {
    /* width: 100%; */
    /* background-color: #69f05a; */
}
