/* Sobreescribe el css de la principal porque no tiene footer */
body {
    padding-bottom: 0px !important;
}

.auth-container {
    background: linear-gradient(220deg, #FFEDBC 30%, #ED4264)
}

.auth-card {
    background-color: rgb(0,0,0,0.05);
    border-radius: 25px;
}

.auth-card-p{
    padding: 40px 0px 40px 0px;
}

.wrapper .input-data {
    height: 40px;
    width: 100%;
    position: relative;
    font-weight: bold;
}

.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid #FFE9BA;
}

.wrapper .input-data input:focus ~ label,
.wrapper .input-data input:valid ~ label {
    transform: translateY(-10px);
    font-size: 12px;
    color: #F58989;
}

input[type='email'], input[type='password'], input[type='text']{ 
    padding-top: 25px;
    font-size: 15px; 
    font-weight: bold;
}

.wrapper .input-data input:focus {
    outline: none;
}

.wrapper .input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.input-data .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #F58989 ;
    transform: scaleX(0);
}

.wrapper .input-data input:focus ~ .underline:before,
.wrapper .input-data input:valid ~ .underline:before {
    transform: scaleX(1);
    transition: transform 0.3s ease;
}

.wrapper .input-data label {
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper small {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.wrapper.error small{
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
}

.mb-20 {
    margin-bottom: 5px;
}

.enlace-usuario {
    margin-top: 10px;
    display: block;
    text-align: center;
    color: white;
    font-size: 15px;
}
