:root {
    /* color degradado */
    --gradient-color: linear-gradient(to left, #FFEDBC, #ED4264);
}

body {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    padding-bottom: 315px;
    min-height: 100vh;
}

.section-1 {
    padding-top: 10px;
	padding-bottom: 75px;
	min-height: 500px;
    background: var(--gradient-color);

}

.logo {
    background-image: url('../assets/imagenes/landing_page/logoBlanco.svg');
    background-size: contain;
    background-repeat: no-repeat;
	height: 160px;
}

.s-1-titulo {
	font-size: 34px;
	color: #fff;
}

.ilus {
    float: left;
    height: 450px;
}

/* imagenes responsives */
@media (max-width: 1120px) {
    .ilus {
        height: 350px !important;
    }

    .ilus-container {
        text-align: center;
        overflow: hidden;
    }
}


/* section BODY  */
section h2 {
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
}

section img {
    height: 350px;
}

.section-2 {
    padding-top: 50px;
    padding-bottom: 100px;
    min-height: 300px;
}

.section-3 {
    background: var(--gradient-color);
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 300px;
}
.section-4 {
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 300px;
}

/* BOTONES */

/* secundarios - section */
.btn-degradado {
    border-color: #f05a70;
    color: #f05a70;
}

.btn-degradado:hover {
    background: #f05a70;
    color: #f8f9fa;
}

/* FOOTER */

.page-footer {
    padding-top: 25px;
    background: var(--gradient-color);
}

footer{
    bottom: 0;
    width: 100%;
    position: absolute;
}

/* WAVE */

.wave {
    height: 100px;
    width: 100%;
    background: var(--gradient-color);
}

li > a:link, li > a:visited, li > a:active{
    color:rgb(31, 30, 30);
}

a:link.btn-lg, a:visited.btn-lg , a:active.btn-lg  {
    font-size: 23px;
    text-decoration:none;
}

.menu {
    color:white;
    font-size: 23px;
    border-style:none;
}

.menu:hover {
    color: black;
}

