.estilo-drop {
    cursor: pointer;
	position: relative;
    background: transparent;
    border: none;
    line-height: 16px;
    height: fit-content;
    margin: auto;
    user-select: none;
}

.avatar-navbar {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-link {
	color: rgb(255 255 255 / 58%) !important;
}

.activo {
    color: white !important;
}