/* VARIABLES */
:root {
    --gradient-color: linear-gradient(to left, #FFEDBC, #ED4264);
}

body {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    padding-bottom: 170px;
    min-height: 100vh;
}

.fondo-degradado {
    background: var(--gradient-color);
}

/* FOOTER */
.info-footer {
    background-color: rgba(255, 255, 255, 0.034) ;
    bottom: 0;
    width: 100%;
    position: absolute;
}

/* ONDA */
.wave {
    height: 100px;
    width: 100%;
    background: var(--gradient-color);
}

/* BOTONES */

.btn-degradado {
    /* border-color: var(--gradient-color); */
    border-color: #f05a70;
    color: #f05a70;
}

.btn-degradado:hover {
    background: #f05a70;
    color: #f8f9fa;
}
/* TODO: MIRAR */
.btn-borde {
    color: #f8f9fa;
}

/* princical */
.btn-borde:hover {
    border-color: #f8f9fa;
}

.btn-degradado-reves {
    /* border-color: var(--gradient-color); */
    background: #f05a70;
    color: #f8f9fa;
    border-color: #f05a70;
}

.btn-degradado-reves:hover {
    background: #e73650;
    border-color: #e73650;
    color: #f5edee;
}

.avatar-circulo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pointer {
    cursor: pointer;
}

/* Texto vertical */
.texto-vertical {
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: absolute;
    top: 175px;
    left: 0;
    margin-left: 20px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

.texto-vertical::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1.4em;
    height: 1px;
    margin-left: 0.5em;
    background-color: currentcolor;
}

/* Migas de pan */
.breadcrumb {
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}
.breadcrumb-item a {
    color: #f05a70;
}

.partidas-rondas-bg {
    min-height: 500px;
    padding-bottom: 175px;
    background-image: url('../assets/imagenes/partidas/index/volando2.gif');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right 50px top 0;
}

/* LISTADO PARTIDAS-RONDAS */

.profile-card-2 {
    width: 200px;
    background-color: rgb(245, 239, 239);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    /* background-position: center; */
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.profile-card-2 img {
    transition: all linear 0.25s;
    width: 200px ;
    object-fit: cover;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #2e2c2d;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #ee4b69;
    font-size: 20px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover img {
    filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
    color: #f4899c;
}

.profile-card-2:hover .profile-icons {
    right: 40px;
}

.ml-25 {
    margin-left:150px !important;
}

.t-sombra {
    text-shadow: 0px 0px 16px #FFFFFF;
}

.b-f05{
    border:2px solid #ee4b69;
}

.zoom img:hover {
    transform: scale(1.2);
    transition: transform .2s;
}

