
/* TABLA BORDES */
.cuadrado-x > div {
    border: 1px solid #bbbbbb;
}

/* Izquierda */
.li-izq > a:link, .li-izq > a:visited, .li-izq > a:hover, .li-izq > a:active{
    text-decoration: none;
    color: black;
}
.cuadrado-izq > ul {
    padding: 0px;
}
.li-izq {
    padding: 16px 16px 16px 16px;
    border-left: 2px solid transparent;
}
.li-izq:hover{
    background: #f3f5f5;
    border-color: #bbbbbb;
}

.cuadrado-izq {
    border: 1px solid #bbbbbb;
    padding: 0px !important;
}

.cuadraro-der {
    padding: 40px 40px 40px 40px;
}

ol, ul {
    list-style: none;
    list-style-type:none;
}

.f-bold {
    font-weight: bold;
    color: #202020;
}
