/* INFO PERFIL */
.info-profile {
    padding: 30px 30px 40px 30px;
}
.info-profile img {
    height: 160px;
}
.info-profile button {
    margin-left: 20px ;
}
.h3 {
    padding-top: 30px;
}
.h3:first-letter {
    text-transform: uppercase;
}
.dibujo{
    margin: 0px;
    padding: 3px ;
}

/* AVATAR */

.avatar-2 {
    height: 200px;
    width: 200px;
    position: relative;
}
.avatar-1 {
    height: 100px;
    width: 100px;
}

.avatar-2 > p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*
.avatar-2:hover{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fbangbranding.com%2Fblog%2Ftotal-black-la-elegancia-del-color-negro%2F&psig=AOvVaw12WaBGPbG5-A_koGdU6IYx&ust=1606149690443000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCODJu5XMlu0CFQAAAAAdAAAAABAD");
} */

/* GALERIA PERFIL  */

/* --------------- */

.btn-karla {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
}


/* Iconos Redes sociales */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoInstagram:hover {
	background-color: #ee5ac9;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoPatreon:hover {
	background-color:#BD3518;
}
.social-network a.icoTwitch:hover {
	background-color:#b62ada;
}
.social-network a.icoInstagram:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoPatreon:hover i, .social-network a.icoTwitch:hover:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 30px;
	height: 30px;
	font-size:20px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:30px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
    transform: rotate(360deg);

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.avatar-cambio{
    width: 50px;
}

.recuperar-pass {
    color:  #f05a70;
    font-weight:bold;
}

/* GALERIA */

.grid {
    margin: 20px auto;
}

.grid-item {
    margin-bottom: 10px;
}

.loader-ellips {
    font-size: 20px;

    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
}

.loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555;

    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
    left: 0;
}

.loader-ellips__dot:nth-child(3) {
    left: 1.5em;
}

.loader-ellips__dot:nth-child(4) {
    left: 3em;
}

@keyframes reveal {
    from {
        transform: scale(0.001);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slide {
    to {
        transform: translateX(1.5em)
    }
}

.loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
    animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
}
