.rondas-tema-bg {
    min-height: 500px;
    padding-bottom: 175px;
    margin-left: 150px;
    background-image: url('../../assets/imagenes/rondas/temas/Design community (4).gif');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left 50px top 140px;
}