.btn-dibujo:hover {
    background-color: #ffe67d;
    color: #3b3868;
}

.btn-upload:hover {
    background-color: #3b3868;
    color: #ffe67d;
}

.btn-dibujo, .btn-upload {
    border-radius: 100px;
    transition: 0.7s;
    color: white;
}

.btn-upload:hover > .img-btn-dibujo {

}

.txt-btn-dibujo {
    opacity: 0;
    transition: 2s all !important;
}

.btn-upload:hover >.txt-btn-dibujo {
    opacity: 1;
}

.dibujos-bg {
    min-height: 500px;
    background-image: url('../../assets/imagenes/partidas/dibujos/dibujos.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 50px bottom -20px;
}

.dibujos-subir-bg {
    min-height: 600px;
    background-image: url('../../assets/imagenes/partidas/dibujos/subir.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 200px bottom -60px;
}

.dibujo-input {
    top: 100%;
}

.t-240 {
    top: 240px !important;
}

.ganador-ronda-bg {
    min-height: 500px;
    max-height: 600px;
    background-image: url('../../assets/imagenes/partidas/dibujos/ganadores.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 150px bottom -40px; 
}

.pizarra-ronda-bg {
    min-height: 600px;
    background-image: url('../../assets/imagenes/partidas/dibujos/pizarra.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 0px bottom -60px;
}

#resultsTable {
    border-radius: 25px !important;
    border-width: 5px !important;
    border-style: solid !important;
    border-color: rgba(255, 255, 255, 0.056) !important;
    width: 90%;  /*Tested and working as expected: */
    padding-top: 1%;
    margin: 0px auto;
    float: none;
  }